// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



	.Giant-button {
		min-width: 45vw;
		min-height: 10vh;
		border-radius: 10px !important;
		font-size: 200% !important;
	}

.rounded {
	border-radius: 15px;
}



.orange  {
	background-color: #f46112 !important;
}


.charcoal {
	background-color: #36454F !important;
}

.green {
	background-color: #21B2A6 !important;
}
