// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Giant-button {
	min-width: 80vw;
	min-height: 15vh;
	border-radius: 15px;

}

.orange {
	background-color: #f46112;
}


.charcoal {
	background-color: #36454F;
}

.green {
	background-color: #21B2A6;
}
