
<div class="profile-grid">

	<div class="profile-box-left">
		<h1>Thankyou <%= current_user.name  %></h1>
	</div>

	<div class="profile-box-right">
		You made a booking with ABC at Y time on X day.
	</div>

</div>
