<nav id="nav">
	<ul>
		<li class="special">
			<a href="#menu" class="menuToggle"><span>Menu</span></a>
			<div id="menu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Register</a></li>
					<li><a href="elements.html">login</a></li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
